# build output
dist/

# generated types
.astro/

# generated vercel files
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# packages
package-lock.json
pnpm-lock.yaml
yarn.lock

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
