---
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro"
---

<Layout title="Página no encontrada">
  <section class="flex flex-col items-center md:flex-row md:gap-12">
    <Image
      width={800}
      height={800}
      src="/images/logo.png"
      alt="Logo de Lokin"
      loading="eager"
      class="size-64"
    />
    <div class="flex flex-col items-center text-center">
      <h1 class="pb-8 font-extrabold uppercase typography-6xl">Error 404</h1>
      <h2 class="pb-6 font-semibold uppercase typography-3xl">Página no encontrada</h2>
      <p class="typography-xl max-w-80">
        ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección sea
        correcta.
      </p>
    </div>
  </section>
</Layout>
