---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Página no encontrada">
  <main>
    <section class="flex flex-col items-center text-center">
      <h1 class="mb-10 font-bold uppercase">Error 404</h1>
      <h2 class="uppercase">Página no encontrada</h2>
      <p class="mt-5 max-w-80 text-xl">
        ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección URL
        sea correcta.
      </p>
    </section>
  </main>
</Layout>
