---
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro"
---

<Layout nofollow noindex title="Página no encontrada">
  <section class="flex flex-col items-center md:flex-row md:gap-12">
    <Image
      alt="Logo de Diego Ramil López."
      class="size-64"
      height={800}
      src="/images/logo.png"
      width={800}
    />
    <hgroup class="flex flex-col items-center text-center">
      <h1 class="typography-6xl pb-8 font-extrabold uppercase">Error 404</h1>
      <h2 class="typography-3xl pb-6 font-semibold uppercase">Página no encontrada</h2>
      <p class="typography-xl max-w-80">
        ¡Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la dirección sea
        correcta.
      </p>
    </hgroup>
  </section>
</Layout>
