---
import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/sections/AboutMe.astro"
import Education from "@/sections/Education.astro"
import Experience from "@/sections/Experience.astro"
import Hero from "@/sections/Hero.astro"
import Proyects from "@/sections/Proyects.astro"
---

<Layout title="Desarrollador y Programador Frontend con más de 2 años de experiencia">
  <main>
    <Hero />
    <Experience />
    <Education />
    <Proyects />
    <AboutMe />
  </main>
</Layout>
