---
import Layout from "@/layouts/Layout.astro"
---

<Layout
  title="Porfolio de TheLokin - Desarrollador y Programador Frontend con más de 2 años de experiencia"
  description="Contrata a TheLokin para crear tu aplicación web o móvil. Especializado en crear aplicaciones únicas."
>
  <main>
    <section>
      <div class="flex flex-col-reverse items-center justify-between sm:flex-row">
        <h1 class="text-center text-2xl leading-[28px] sm:text-start sm:text-5xl sm:leading-[56px]">
          Hola, soy <strong class="font-extrabold">TheLokin</strong>
          <br />
          <strong class="font-extrabold">Desarrollador</strong>
          <strong class="font-extrabold">Frontend</strong>
          <br />
          Ubicado en <strong class="font-extrabold">España.</strong>
        </h1>
        <img class="size-32 sm:size-64" src="/images/logo.png" alt="TheLokin" />
      </div>
    </section>
    <section id="experience" class="mb-96">
      <h2>Experiencia</h2>
    </section>
    <section id="proyects" class="mb-96">
      <h2>Proyectos</h2>
    </section>
    <section id="about" class="mb-96">
      <h2>Sobre mí</h2>
    </section>
    <section id="contact" class="mb-96">
      <h2>Contacto</h2>
    </section>
  </main>
</Layout>
