---
import { Image } from "astro:assets"

import Layout from "@/layouts/Layout.astro"
import AboutMe from "@/sections/AboutMe.astro"
import Education from "@/sections/Education.astro"
import Experience from "@/sections/Experience.astro"
import Proyects from "@/sections/Proyects.astro"
---

<Layout title="Desarrollador y Programador Frontend con más de 2 años de experiencia">
  <main>
    <section>
      <div class="flex flex-col-reverse items-center justify-between sm:flex-row">
        <h1 class="text-center text-2xl leading-[28px] sm:text-start sm:text-5xl sm:leading-[56px]">
          Hola, soy <strong>TheLokin</strong>
          <br />
          <strong>Desarrollador</strong>
          <strong>Frontend</strong>
          <br />
          Ubicado en <strong>España.</strong>
        </h1>
        <Image
          width={800}
          height={800}
          src="/images/logo.png"
          alt="Logo de TheLokin"
          loading="eager"
          class="size-32 sm:size-64"
        />
      </div>
    </section>
    <Experience />
    <Education />
    <Proyects />
    <AboutMe />
  </main>
</Layout>
