---
import List from "@/icons/List.astro"
import X from "@/icons/X.astro"

const { active = false, class: classname, ...props } = Astro.props
---

<button
  type="button"
  aria-expanded="false"
  aria-label="Abrir menú principal"
  class:list={["toggle inline-grid size-8", classname]}
  {...props}
>
  <List
    id="mobile-menu-toggle-off"
    class="col-start-1 row-start-1 duration-300 ease-out motion-safe:transition"
  />
  <X
    id="mobile-menu-toggle-on"
    class="col-start-1 row-start-1 rotate-45 opacity-0 duration-300 ease-out motion-safe:transition"
  />
</button>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleButtons = document.querySelectorAll(".toggle")

    toggleButtons?.forEach((toggleButton) => {
      toggleButton.addEventListener("click", () => {
        const menuToggleOff = document.getElementById("mobile-menu-toggle-off")

        menuToggleOff?.classList.toggle("toggle-off")

        const menuToggleOn = document.getElementById("mobile-menu-toggle-on")

        menuToggleOn?.classList.toggle("toggle-on")

        toggleButton.dispatchEvent(new CustomEvent("toggle"))
      })
    })
  })
</script>

<style>
  .toggle-off {
    @apply -rotate-45 opacity-0;
  }

  .toggle-on {
    @apply rotate-0 opacity-100;
  }
</style>
