---
const { class: classname, ...props } = Astro.props
---

<a
  rel="noopener"
  target="_blank"
  class:list={[
    "inline-block size-full",
    "motion-safe:transition-[scale,opacity]",
    "any-hover:scale-125 any-hover:opacity-70",
    classname,
  ]}
  {...props}
>
  <slot />
</a>
