---
import type { HTMLAttributes } from "astro/types"

import { getI18N } from "@/i18n"
import List from "@/icons/phosphor/list.svg"
import X from "@/icons/phosphor/x.svg"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

type Props = HTMLAttributes<"button"> & {
  state: "open" | "closed"
}

const { state, class: className, ...props } = Astro.props
const isOpen = state === "open"
---

<button
  aria-expanded={isOpen}
  aria-label={isOpen ? i18n.MENU.CLOSE : i18n.MENU.OPEN}
  class:list={[
    "group inline-grid",
    "[&_svg]:col-start-1 [&_svg]:row-start-1",
    "[&_svg]:pointer-events-none [&_svg]:size-8 [&_svg]:shrink-0",
    "[&_svg]:transition-[transform,opacity] [&_svg]:duration-300 [&_svg]:ease-out",
    className,
  ]}
  data-state="closed"
  type="button"
  {...props}
>
  <List class="group-data-[state=open]:-rotate-45 group-data-[state=open]:opacity-0" />
  <X
    class="rotate-45 opacity-0 group-data-[state=open]:rotate-0 group-data-[state=open]:opacity-100"
  />
</button>
