---
import type { HTMLAttributes } from "astro/types"

import List from "@/icons/phosphor/List.astro"
import X from "@/icons/phosphor/X.astro"

type Props = HTMLAttributes<"button"> & {
  state: "open" | "closed"
}

const { state, class: className, ...props } = Astro.props
const isOpen = state === "open"
---

<button
  aria-expanded={isOpen}
  aria-label={isOpen ? "Cerrar menú." : "Abrir menú."}
  class:list={["group inline-grid", "[&_svg]:size-8 [&_svg]:shrink-0", className]}
  data-state="closed"
  type="button"
  {...props}
>
  <List
    class:list={[
      "col-start-1 row-start-1",
      "transition-[transform,opacity] duration-300 ease-out",
      "group-data-open:-rotate-45 group-data-open:opacity-0",
    ]}
  />
  <X
    class:list={[
      "col-start-1 row-start-1 rotate-45 opacity-0",
      "transition-[transform,opacity] duration-300 ease-out",
      "group-data-open:rotate-0 group-data-open:opacity-100",
    ]}
  />
</button>
