---
type Props = {
  id: string
  title: string
}

const { id, title } = Astro.props
---

<section class="flex scroll-mt-16 flex-col gap-8" id={id}>
  <div class="flex items-center gap-2">
    <div class="hidden md:inline [&_svg]:size-8 [&_svg]:shrink-0">
      <slot name="icon" />
    </div>
    <h2 class="typography-4xl font-semibold">
      {title}
    </h2>
  </div>
  <slot />
</section>
