---
type Props = {
  id: string
}

const { id } = Astro.props
---

<section class="flex scroll-mt-20 flex-col gap-8" id={id}>
  <header class="flex items-center gap-2">
    <div class="[&_svg]:size-10 [&_svg]:shrink-0">
      <slot name="icon" />
    </div>
    <h2 class="typography-4xl font-semibold">
      <slot name="title" />
    </h2>
  </header>
  <slot />
</section>
