---
interface Props {
  id: string
  title: string
}

const { id, title } = Astro.props
---

<section id={id} class="flex scroll-mt-16 flex-col gap-8">
  <div>
    <h2 class="typography-4xl font-semibold">
      {title}
    </h2>
  </div>
  <slot />
</section>
