---
import Action from "@/components/Action.astro"
import GitHub from "@/icons/GitHub.astro"
import LinkedIn from "@/icons/LinkedIn.astro"

const socialMedia = [
  {
    href: "https://www.linkedin.com/in/diegoramil/",
    label: "LinkedIn de Diego, se abrir치 en una nueva pesta침a",
    icon: LinkedIn,
  },
  {
    href: "https://github.com/TheLokin",
    label: "GitHub de Diego, se abrir치 en una nueva pesta침a",
    icon: GitHub,
  },
]
---

<nav>
  <ul class="flex gap-4">
    {
      socialMedia.map((media) => (
        <li class="size-8">
          <Action
            href={media.href}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={media.label}
          >
            <media.icon />
          </Action>
        </li>
      ))
    }
  </ul>
</nav>
