---
type Props = {
  elements: {
    title: string
    subtitle: string
    date: {
      from: Date
      to?: Date
    }
    description?: string
  }[]
  options: Intl.DateTimeFormatOptions
}

const { elements, options } = Astro.props

function formatDate(date: Date, options: Intl.DateTimeFormatOptions): string {
  const parts = []

  if (options.year) parts.push(date.getFullYear())
  if (options.month) parts.push(String(date.getMonth() + 1).padStart(2, "0"))
  if (options.day) parts.push(String(date.getDate()).padStart(2, "0"))

  return parts.join("-")
}
---

<ol
  class:list={[
    "md:before:absolute md:before:bottom-0 md:before:start-6 md:before:top-2 md:before:-ms-px md:before:w-0.5 md:before:bg-primary",
    "relative flex flex-col gap-8 md:gap-12",
  ]}
>
  {
    elements.map((element) => (
      <li
        class:list={[
          "md:before:absolute md:before:-start-6 md:before:top-2 md:before:-ms-2 md:before:size-4 md:before:rounded-full md:before:bg-primary",
          "relative gap-x-12 gap-y-4 md:start-12 md:pb-2 md:pe-12",
          {
            "grid md:grid-cols-5": element.description,
          },
        ]}
      >
        <div
          class:list={[
            "flex flex-col",
            {
              "col-span-2": element.description,
            },
          ]}
        >
          <h3 class="typography-lg text-balance font-semibold tracking-wide">{element.title}</h3>
          <h4 class="text-balance font-medium tracking-wide">{element.subtitle}</h4>
          <span class="typography-sm uppercase tracking-wide opacity-90">
            <time datetime={formatDate(element.date.from, options)}>
              {element.date.from.toLocaleString("es", options) || "actualidad"}
            </time>
            -
            <time datetime={element.date.to && formatDate(element.date.to, options)}>
              {element.date.to?.toLocaleString("es", options) || "actualidad"}
            </time>
          </span>
        </div>
        {element.description && <p class="col-span-3 text-pretty">{element.description}</p>}
      </li>
    ))
  }
</ol>
