---
import { getI18N } from "@/i18n"
import { format } from "date-fns"
import { es } from "date-fns/locale/es"
import { gl } from "date-fns/locale/gl"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

type Props = {
  elements: {
    title: string
    subtitle: string
    date: {
      from: Date
      to?: Date
    }
    description?: string
  }[]
  month?: boolean
}

const { elements, month = false } = Astro.props

function formatToDatetime(date: Date, month: boolean) {
  const parts = [date.getFullYear().toString()]

  if (month) parts.push(String(date.getMonth() + 1).padStart(2, "0"))

  return parts.join("-")
}

function formatToDate(date: Date, month: boolean) {
  return format(date, month ? "MMM yyyy" : "yyyy", {
    locale: currentLocale === "en" ? undefined : currentLocale === "es" ? es : gl,
  })
}
---

<ol
  class:list={[
    "md:before:absolute md:before:bottom-0 md:before:start-6 md:before:top-2 md:before:-ms-px md:before:w-0.5 md:before:bg-primary",
    "relative flex flex-col gap-8 md:gap-12",
  ]}
>
  {
    elements.map((element) => (
      <li
        class:list={[
          "md:before:absolute md:before:-start-6 md:before:top-2 md:before:-ms-2 md:before:size-4 md:before:rounded-full md:before:bg-primary",
          "relative gap-x-12 gap-y-4 md:start-12 md:pb-2 md:pe-12",
          {
            "grid md:grid-cols-5": element.description,
          },
        ]}
      >
        <div
          class:list={[
            "flex flex-col",
            {
              "col-span-2": element.description,
            },
          ]}
        >
          <h3 class="typography-lg max-w-4xl text-balance font-semibold tracking-wide">
            {element.title}
          </h3>
          <h4 class="text-balance font-medium tracking-wide">{element.subtitle}</h4>
          <span class="typography-sm uppercase tracking-wide opacity-90">
            <time datetime={formatToDatetime(element.date.from, month)}>
              {formatToDate(element.date.from, month)}
            </time>
            -
            <time datetime={element.date.to && formatToDatetime(element.date.to, month)}>
              {element.date.to ? formatToDate(element.date.to, month) : i18n.TIMELINE.PRESENT}
            </time>
          </span>
        </div>
        {element.description && <p class="col-span-3 text-pretty">{element.description}</p>}
      </li>
    ))
  }
</ol>
