---
import SectionContainer from "@/components/SectionContainer.astro"
import { getI18N } from "@/i18n"
import User from "@/icons/phosphor/user.svg"
import { Image } from "astro:assets"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<SectionContainer id="about">
  <User slot="icon" />
  <Fragment slot="title">{i18n.SECTION.ABOUT.TITLE}</Fragment>
  <article class="flex flex-col items-center gap-x-12 gap-y-8 lg:flex-row">
    <div
      class:list={[
        "max-w-64 rotate-3 overflow-hidden rounded-2xl drop-shadow-xl",
        "m-2 outline outline-2 -outline-offset-1 outline-primary",
      ]}
    >
      <Image
        src="/images/me.avif"
        alt={i18n.SECTION.ABOUT.IMAGE_ALT}
        width={1600}
        height={1600}
        class="aspect-square object-cover"
      />
    </div>
    <div class="flex max-w-2xl flex-col gap-4 [&_p]:text-pretty [&_strong]:font-semibold">
      <p set:html={i18n.SECTION.ABOUT.P1} />
      <p set:html={i18n.SECTION.ABOUT.P2} />
    </div>
  </article>
</SectionContainer>
