---
import { Image } from "astro:assets"

import SectionContainer from "@/components/SectionContainer.astro"
---

<SectionContainer id="about" title="Sobre mí">
  <article class="flex flex-col items-center justify-between sm:flex-row">
    <Image
      width={1600}
      height={1600}
      src="/images/me.avif"
      alt="Diego"
      loading="lazy"
      class:list={[
        "ml-2 mt-2 size-64 rotate-3 rounded-2xl shadow-md",
        "outline outline-2 -outline-offset-1 outline-primary",
      ]}
    />
    <div>
      <p class="text-pretty">Me llamo Diego</p>
    </div>
  </article>
</SectionContainer>
