---
import { Image } from "astro:assets"

import SectionContainer from "@/components/SectionContainer.astro"
import User from "@/icons/phosphor/User.astro"
---

<SectionContainer id="about">
  <User slot="icon" />
  <Fragment slot="title">Sobre mí</Fragment>
  <article class="flex flex-col items-center justify-between gap-12 lg:flex-row">
    <div
      class:list={[
        "w-64 rotate-3 overflow-hidden rounded-2xl drop-shadow-xl",
        "m-2 outline outline-2 -outline-offset-1 outline-primary",
      ]}
    >
      <Image
        alt="Foto de perfil de Diego Ramil López."
        class="aspect-square object-cover"
        height={1600}
        loading="lazy"
        src="/images/me.avif"
        width={1600}
      />
    </div>
    <div class="flex flex-col gap-4 [&_p]:text-pretty [&_strong]:font-semibold">
      <p>
        Soy <strong>ingeniero informático por la Universidad de A Coruña</strong>. Desde noviembre
        de 2022 he estado desarrollándome profesionalmente en la industria del software. Gran parte
        de <strong>mi carrera se ha centrado en el desarrollo full stack</strong>, por lo que me
        manejo bien en el backend, aunque donde realmente
        <strong>destaco es en el frontend</strong>.
      </p>
      <p>
        Por experiencias pasadas,
        <strong>mis lenguajes de programación son Kotlin y JavaScript/TypeScript</strong>, aunque en
        los comienzos de mi carrera también trabajé con Python. Por supuesto,
        <strong>manejo HTML y CSS</strong>, lo que me permite maquetar correctamente. También estoy
        familiarizado con el manejo de
        <strong>soluciones en la nube, tanto AWS como Google Cloud</strong>. Aunque he trabajado con
        estas tecnologías, siempre estoy dispuesto a aprender nuevas herramientas.
      </p>
    </div>
  </article>
</SectionContainer>
