---
import { Image } from "astro:assets"

import SectionContainer from "@/components/SectionContainer.astro"
import User from "@/icons/User.astro"
---

<SectionContainer id="about" title="Sobre mí">
  <User slot="icon" />
  <article class="flex flex-col items-center justify-between gap-12 md:flex-row">
    <Image
      alt="Diego Ramil López, desarrollador Frontend."
      class:list={[
        "m-2 max-w-64 rotate-3 rounded-2xl drop-shadow-xl",
        "outline outline-2 -outline-offset-1 outline-primary",
      ]}
      height={1600}
      loading="lazy"
      src="/images/me.avif"
      width={1600}
    />
    <div class="flex flex-col gap-4 [&_p]:text-pretty">
      <p>
        Soy ingeniero informático por la universidad de A Coruña. Desde noviembre de 2022 he estado
        desarrollándome profesionalmente en el mundo del software. Gran parte de mi carrera ha sido
        como desarrollador full stack, por lo que me manejo bien en el backend, aunque donde
        realmente destaco es el frontend.
      </p>
      <p>
        Por experiencias pasadas, mis lenguajes de programación son Kotlin y JavaScript/TypeScript,
        aunque en los comienzos de mi carrera también trabajé con Python. Por supuesto, manejo HTML
        y CSS, lo que me permite maquetar correctamente. También estoy familiarizado con el manejo
        de soluciones en la nube, tanto AWS como Google Cloud. Aunque he trabajado con estas
        tecnologías, siempre estoy dispuesto a aprender nuevas herramientas.
      </p>
    </div>
  </article>
</SectionContainer>
