---
import SectionContainer from "@/components/SectionContainer.astro"
import Timeline from "@/components/Timeline.astro"
import { getI18N } from "@/i18n"
import Briefcase from "@/icons/phosphor/briefcase.svg"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const experience = [
  {
    title: i18n.SECTION.EXPERIENCE.EXAMPLES[0].TITLE,
    subtitle: i18n.SECTION.EXPERIENCE.EXAMPLES[0].SUBTITLE,
    date: {
      from: new Date(2023, 3),
    },
    description: i18n.SECTION.EXPERIENCE.EXAMPLES[0].DESCRIPTION,
  },
  {
    title: i18n.SECTION.EXPERIENCE.EXAMPLES[1].TITLE,
    subtitle: i18n.SECTION.EXPERIENCE.EXAMPLES[1].SUBTITLE,
    date: {
      from: new Date(2022, 10),
      to: new Date(2023, 2),
    },
    description: i18n.SECTION.EXPERIENCE.EXAMPLES[1].DESCRIPTION,
  },
  {
    title: i18n.SECTION.EXPERIENCE.EXAMPLES[2].TITLE,
    subtitle: i18n.SECTION.EXPERIENCE.EXAMPLES[2].SUBTITLE,
    date: {
      from: new Date(2020, 9),
      to: new Date(2021, 4),
    },
    description: i18n.SECTION.EXPERIENCE.EXAMPLES[2].DESCRIPTION,
  },
]
---

<SectionContainer id="experience">
  <Briefcase slot="icon" />
  <Fragment slot="title">
    <span class="sm:hidden">{i18n.SECTION.EXPERIENCE.SHORT_TITLE}</span>
    <span class="hidden sm:block">{i18n.SECTION.EXPERIENCE.TITLE}</span>
  </Fragment>
  <Timeline elements={experience} month />
</SectionContainer>
