---
import LinkButton from "@/components/LinkButton.astro"
import Separator from "@/components/Separator.astro"

import GitHub from "@/icons/GitHub.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
---

<footer class="flex flex-col items-center justify-between md:flex-row">
  <span class="text-center text-sm leading-5 md:text-base">
    &copy; {new Date().getFullYear()} TheLokin
    <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden="true" class="block md:hidden" />
    Casi todos los derechos reservados.
  </span>

  <Separator class="md:hidden" />

  <nav>
    <ul class="flex gap-4 [&>li]:size-8">
      <li>
        <LinkButton
          href="https://www.linkedin.com/in/diegoramil/"
          aria-label="LinkedIn de TheLokin, se abrir치 en una nueva pesta침a"
        >
          <LinkedIn />
        </LinkButton>
      </li>
      <li>
        <LinkButton
          href="https://github.com/TheLokin"
          aria-label="GitHub de TheLokin, se abrir치 en una nueva pesta침a"
        >
          <GitHub />
        </LinkButton>
      </li>
    </ul>
  </nav>
</footer>
