---
import GitHub from "@/components/icons/GitHub.astro"
import LinkedIn from "@/components/icons/LinkedIn.astro"
import Link from "@/components/ui/Link.astro"
import Separator from "@/components/ui/Separator.astro"

const links = [
  {
    href: "https://www.linkedin.com/in/diegoramil/",
    label: "LinkedIn de Diego, se abrirá en una nueva pestaña.",
    icon: LinkedIn,
  },
  {
    href: "https://github.com/TheLokin",
    label: "GitHub de Diego, se abrirá en una nueva pestaña.",
    icon: GitHub,
  },
]
---

<footer class="flex flex-col items-center justify-between gap-4 py-4 md:flex-row md:px-4">
  <span class="text-center">
    &copy;
    <span data-year>{new Date().getFullYear()}</span>
    TheLokin
    <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden="true" class="block md:hidden" />
    Diseñado y desarrollado con ❤️ y ☕.
  </span>
  <Separator class="md:hidden" />
  <nav>
    <ul class="flex gap-4">
      {
        links.map((link) => (
          <li>
            <Link
              aria-label={link.label}
              href={link.href}
              rel="noopener noreferrer"
              target="_blank"
              variant="icon"
            >
              <link.icon />
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>

<script>
  document.addEventListener("astro:page-load", () => {
    const dataYear = document.querySelectorAll("[data-year]")

    dataYear.forEach((date) => {
      date.textContent = new Date().getFullYear().toString()
    })
  })
</script>
