---
import LinkButton from "@/components/LinkButton.astro"
import Separator from "@/components/Separator.astro"
import GitHub from "@/icons/GitHub.astro"
import LinkedIn from "@/icons/LinkedIn.astro"

const socialLinks = [
  {
    href: "https://www.linkedin.com/in/diegoramil/",
    label: "LinkedIn de TheLokin, se abrir치 en una nueva pesta침a",
    icon: LinkedIn,
  },
  {
    href: "https://github.com/TheLokin",
    label: "GitHub de TheLokin, se abrir치 en una nueva pesta침a",
    icon: GitHub,
  },
]
---

<footer class="flex flex-col items-center justify-between gap-4 py-4 md:flex-row md:px-4">
  <span class="md:typography-lg typography-sm text-center">
    &copy; {new Date().getFullYear()} TheLokin
    <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden="true" class="block md:hidden" />
    Casi todos los derechos reservados.
  </span>
  <Separator class="md:hidden" />
  <nav>
    <ul class="flex gap-4">
      {
        socialLinks.map((link) => (
          <li class="size-8">
            <LinkButton
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={link.label}
            >
              <link.icon />
            </LinkButton>
          </li>
        ))
      }
    </ul>
  </nav>
</footer>
