---
import GitHubLink from "@/components/GitHubLink.astro"
import LinkedInLink from "@/components/LinkedInLink.astro"
import Separator from "@/components/ui/Separator.astro"
---

<footer class="flex flex-col items-center justify-between gap-4 py-4 md:flex-row md:px-4">
  <span class="text-pretty text-center">
    &copy;
    <span data-year>{new Date().getFullYear()}</span>
    TheLokin
    <span aria-hidden="true" class="hidden md:inline">|</span>
    <br aria-hidden="true" class="block md:hidden" />
    Diseñado y desarrollado con
    <span aria-label="amor">🤎</span>
    y
    <span aria-label="café">☕</span>.
  </span>
  <Separator class="md:hidden" />
  <nav>
    <ul class="flex gap-4">
      <li>
        <LinkedInLink />
      </li>
      <li>
        <GitHubLink />
      </li>
    </ul>
  </nav>
</footer>

<script>
  document.addEventListener("astro:page-load", () => {
    const dataYear = document.querySelectorAll("[data-year]")

    dataYear.forEach((date) => {
      date.textContent = new Date().getFullYear().toString()
    })
  })
</script>
