---
import HamburgerButton from "@/components/HamburgerButton.astro"
import Separator from "@/components/Separator.astro"

import Code from "@/icons/Code.astro"

import Footer from "@/sections/Footer.astro"

const pages = [
  {
    name: "Experiencia",
    href: "/#experience",
  },
  {
    name: "Proyectos",
    href: "/#proyects",
  },
  {
    name: "Sobre mí",
    href: "/#about",
  },
  {
    name: "Contacto",
    href: "/#contact",
  },
]
---

<header>
  <div class="flex items-center justify-between">
    <a href="/" class="inline-flex items-center gap-2 text-lg font-semibold">
      <Code class="size-8" />
      TheLokin
    </a>
    <HamburgerButton id="mobile-menu-toggle" aria-controls="mobile-menu" class="md:hidden" />
    <nav class="hidden md:block">
      <ul class="flex gap-x-4">
        {
          pages.map(({ name, href }) => (
            <li>
              <a href={href} class="text-lg font-semibold">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div id="mobile-menu" class="fixed inset-0 hidden px-2 md:hidden">
    <div class="flex justify-between">
      <span class="text-xl font-semibold uppercase">Menú</span>
      <HamburgerButton aria-controls="mobile-menu" />
    </div>
    <Separator />
    <nav>
      <ul class="flex flex-col gap-y-4">
        {
          pages.map(({ name, href }) => (
            <li class="flex justify-center">
              <a href={href} class="text-lg font-semibold">
                {name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <Separator />
    <Footer />
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("mobile-menu-toggle")

    menuToggle?.addEventListener("toggle", () => {
      const mobileMenu = document.getElementById("mobile-menu")

      mobileMenu?.classList.toggle("hidden")

      document.body.classList.toggle("overflow-hidden")
    })
  })
</script>

<style>
  #mobile-menu {
    background: var(--color-secondary) url("/images/concrete.avif");
  }

  a {
    @apply relative;
  }

  a::before {
    @apply absolute bottom-0 left-0 h-0.5 w-full origin-left scale-x-0 bg-primary transition-transform duration-200 ease-in-out content-[""] any-hover:scale-x-100;
  }
</style>
