---
import { Image } from "astro:assets"
---

<section class="flex flex-col items-center justify-between md:flex-row-reverse md:gap-12">
  <Image
    width={800}
    height={800}
    src="/images/logo.png"
    alt="Logo de Lokin"
    loading="eager"
    class="size-64"
  />
  <h1 class="text-balance text-center typography-6xl md:text-start">
    Hola, soy <strong>Diego</strong>
    <br />
    <strong>Desarrollador</strong>
    <strong>Frontend</strong>
    <br />
    Ubicado en <strong>España</strong>.
  </h1>
</section>
