---
import "@fontsource-variable/sora"

import Separator from "@/components/Separator.astro"
import Footer from "@/sections/Footer.astro"
import Header from "@/sections/Header.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

export const prerender = false
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <title>{title}</title>

    <meta charset="utf-8" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    {
      /* https://github.com/withastro/prettier-plugin-astro/issues/316 */
      () => <ViewTransitions />
    }
  </head>

  <body
    class:list={[
      "font-sora text-primary antialiased",
      "mx-auto max-w-6xl bg-secondary px-2 lg:px-10",
      "selection:bg-primary selection:text-secondary",
    ]}
  >
    <Header />
    <slot />
    <Separator />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
  }

  html {
    scrollbar-gutter: stable;
  }

  strong {
    @apply font-extrabold;
  }

  & :focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-transparent bg-primary bg-clip-content;
  }
</style>
