---
import "@fontsource-variable/sora"

import { ViewTransitions } from "astro:transitions"

import Separator from "@/components/Separator.astro"
import Footer from "@/sections/Footer.astro"
import Header from "@/sections/Header.astro"

const { title } = Astro.props

export const prerender = false
---

<!doctype html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{`Porfolio de TheLokin - ${title}`}</title>
    <meta
      name="description"
      content="Contrata a TheLokin para crear tu aplicación web o móvil. Especializado en crear aplicaciones únicas."
    />

    <link rel="canonical" href="https://thelokin.vercel.app" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#ddd" />
    <meta name="viewport" content="width=device-width" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta
      name="keywords"
      content="porfolio, desarrollador, informático, página web, aplicación móvil, thelokin"
    />

    {
      /* https://github.com/withastro/prettier-plugin-astro/issues/316 */
      () => <ViewTransitions />
    }
  </head>

  <body
    class:list={[
      "font-sora text-primary antialiased",
      "mx-auto max-w-6xl bg-secondary px-2 lg:px-10",
      "selection:bg-primary selection:text-secondary",
    ]}
  >
    <Header />
    <slot />
    <Separator />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }

  strong {
    @apply font-extrabold;
  }

  & :focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-transparent bg-primary bg-clip-content;
  }
</style>
