---
import "@fontsource-variable/sora"

import { ViewTransitions } from "astro:transitions"

import Separator from "@/components/Separator.astro"
import Footer from "@/sections/Footer.astro"
import Header from "@/sections/Header.astro"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es" dir="ltr" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <title>{`Porfolio de Diego - ${title}`}</title>
    <meta
      name="description"
      content="Contrata a Diego para crear tu aplicación web o móvil. Especializado en crear aplicaciones únicas."
    />

    <link rel="canonical" href="https://thelokin.vercel.app" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#ddd" />
    <meta name="viewport" content="width=device-width" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta
      name="keywords"
      content="diego ramil lópez, thelokin, porfolio, desarrollador frontend, ingeniero informático"
    />

    <ViewTransitions />
  </head>

  <body
    class:list={[
      "overflow-x-hidden bg-secondary",
      "typography-base font-sora text-primary antialiased",
      "selection:bg-primary selection:text-secondary",
    ]}
  >
    <Header />

    <div class="mx-auto max-w-5xl px-2 md:px-10">
      <main class="px-2 py-4 md:px-4">
        <slot />
      </main>
      <Separator />
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #333;
    --color-secondary: #ddd;
  }

  body {
    background: var(--color-secondary) url("/images/concrete.png");
  }

  strong {
    @apply font-extrabold;
  }

  & :focus-visible {
    @apply outline outline-2 outline-offset-2 outline-primary;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg border-2 border-solid border-transparent bg-primary bg-clip-content;
  }
</style>
